.main_aboutme{
    
    
        h1{
            text-transform: uppercase;
            font-weight: 300;
        }
    
    .profile{
        img{
        display: block;
        margin: auto;
        height: 40vh;
        padding:10px;
        padding-bottom:40px;
        box-shadow: 0 3px 6px rgba(0,0,0,.25);
        background: white;
        }
        @media screen and (max-width: 576px){
            img{
                // margin-top:-300px;
            }
        }
    }
    .container{
        padding-top:5rem;
        padding-bottom:5rem;
        .about{
            h4,h1,p{
                padding:10px;
            }
            p{
                font-size: 1.2rem;
                font-weight: 300;
            }
            .links{
                display: flex;
                
                padding-left:10px;
                 
                .btnn{
                    background:none;
                    border:2px solid #000;
                    text-transform: uppercase;   
                    padding:12px 20px;
                    min-width: 200px;
                    transition: color .4s linear;
                    position: relative;
                }
                .btnn:hover{
                    color:#fff;
                }
                .btnn::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    z-index: -1;
                    transition: transform 0.5s;
                    transform-origin: 0 0;
                    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
                }
                .btn1::before{
                    transform:scaleX(0)
                }
                .btn1:hover::before{
                    transform:scaleX(1)   
                }
                .link{
                    // text-align: center;
                    
                    padding:5px 10px;
                }
                .link a{
                    margin: auto;
                    padding-right:10px;
                    color: black;
                }
            }
        }

        
}

}
