// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

.mywork{
    padding:5rem 8rem;
    font-family: 'Roboto', sans-serif;
.title{
    padding-bottom: 100px;
    h1{
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
    }
   
    
} 
    .box{
        position: relative;
        width: 100%;
        display: inline-block;
        padding:5px; 
        
        .imgbox{
            
            display: block;
            width: 100%;
            box-shadow: 0 10px 10px rgba(0,0,0,0.3);
            transition: all .2s;
            offset: none;
            
         }
        .overlay{
            
            position: absolute;
            transition: all .3s ease-in-out;
            opacity: 0;
            background-color: rgba(255, 255, 255,1);
            
            &:hover{
                opacity: 1;
            
            }
        
        }
        
        
    }
    .overlayTop{

        width: 100%;
        height:100%;
        bottom: 0;
        top:0;
        left:0;
    }
    .box:hover .overlayTop{
        height:100%;
        
    }
    
    
    .text{
        color: black;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
        align-items: center;
        
        h2{
            text-align: center;
            font-size: 1.7rem;
            margin-bottom: 30px;
            font-weight: 500;
            letter-spacing: 2px;
        }
        a{
            text-decoration: none;
            padding:0 15px;
            
        }
        h5{
            letter-spacing: 3px;
            font-weight: 300;
            font-size: 1rem;
        }
        
        p{
             font-weight: 300;
            font-size: 1rem;
            text-transform: uppercase;
            color: black;
            display: inline;
            padding:14px 30px;
            box-shadow: 5px 5px 5px rgba($color-black, .15);
            border-radius: 15px;
            transition: all .5s ease;
            
            
            
            &:hover{
                background-color: white;
                color: black;
                text-decoration: underline;


            }
        }
    }
    @media screen and(max-width: 1025px){
        .text{
    
        
            h2{
                font-size: 1.2rem; 
                margin-bottom: 15px;
            }
            
            h5{
                text-align: center;
                font-size: .7rem;
            }
            p{
                font-size: 10px;
            }
        }
        
    }
    @media screen and(max-width: 426px){
        .text{
    
        
            h2{
                
                font-size: .7rem; 
                margin-bottom: 10px;
            }
            
            h5{
                
                text-align: start;
                font-size: .5rem;
            }
            a{
                padding:0 5px;
            }
            p{
                font-size: 10px;
                padding:7px 15px;
            }
        }
        
    }
    .description{
    
    .name{
        text-align: center;
    }
    .demo_code{
        margin: auto ;
        text-align: center;
    }
    }
    @media screen and(max-width: 769px){
        padding:5rem 4rem;
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    height: 52rem;
    grid-template-areas: 
    "div1 div1 div2" 
    "div3 div4 div2" 
    "div5 div5 div6";
    }
    
    // .div1,.div2,.div3,.div4,.div5,.div6{
    //     background-color: white;
        
    // }
    .div1 {
         grid-area: div1;
         background-image: url('../../assets/imgs/pics/ns_apparel.png');
         background-position: top;
         background-size: cover;

         background-repeat: no-repeat;
         box-shadow: 0 10px 10px rgba(0,0,0,0.3);
         }

    .div2 {
         grid-area: div2;
         background-image: url('../../assets/imgs/pics/findaplace.png');
         background-position: center;
         background-size: cover;


         box-shadow: 0 10px 10px rgba(0,0,0,0.3);
         }
    
    .div3 {
         grid-area: div3;
         background-image: url('../../assets/imgs/pics/ns_bike.png');
         background-position: center;
         background-size: cover;


         box-shadow: 0 10px 10px rgba(0,0,0,0.3);
         }
    
    .div4 {
         grid-area: div4;
         background-image: url('../../assets/imgs/pics/img.png');
         background-position: center;
         background-size: cover;


         box-shadow: 0 10px 10px rgba(0,0,0,0.3);
         }
    
    .div5 {
         grid-area: div5;
         background-image: url('../../assets/imgs/pics/cryptodash.png');
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;


         box-shadow: 0 10px 10px rgba(0,0,0,0.3);
         }
    
    .div6 {
         grid-area: div6;
         background-image: url('../../assets/imgs/pics/weather.png');
         background-position: center;
         background-size: cover;


         box-shadow: 0 10px 10px rgba(0,0,0,0.3);
         }
    @media screen and(max-width: 769px){
        .parent {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
            // grid-column-gap: 20px;
            grid-row-gap: 10px;
            min-height: 30rem;
            grid-template-areas:
             "div1 div1 div1" 
             "div2 div2 div2" 
             "div3 div3 div3" 
             "div4 div4 div4" 
             "div5 div5 div5"
             "div6 div6 div6";
            }
               
    }