.mywork{
padding:100px 20px;

.title{
    padding-bottom: 100px;
    h1{
        text-align: center;
        text-transform: uppercase;
    }
   
    
} 
    .box{
        position: relative;
        width: 100%;
        display: inline-block;
        padding:5px; 
        
        .imgbox{
            
            display: block;
            width: 100%;
            box-shadow: 0 10px 10px rgba(0,0,0,0.6);
            transition: all .2s;
            offset: none;
            
         }
        .overlay{
            
            position: absolute;
            transition: all .3s linear;
            opacity: 0;
            background-color: rgba(0,0,0,0.8);
            
            &:hover{
                opacity: 1;
            
            }
        
        }
        
        
    }
    .overlayTop{

        width: 98%;
        height: 0;
        bottom: 1%;
        top:2%;
        left:1%;
    }
    .box:hover .overlayTop{
        height:97%;
        
    }
    
    
    .text{
        color: white;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
            
        
        h2{
            text-align: center;
            font-size: 1.3rem;
            margin-bottom: 30px;
        }
        a{
            text-decoration: none;
            padding:0 15px;            
        }

        p{
            font-size: 1rem;
            text-transform: uppercase;
            color: white;
            display: inline;
            padding:5px 15px;
            border:1px solid white;
            border-radius: 15px;
            transition: all .5s ease;
            &:hover{
                background-color: white;
                color: black;
                border:1px solid black;
            }
        }
    }
    
    .description{
    
    .name{
        text-align: center;
    }
    .demo_code{
        margin: auto ;
        text-align: center;
    }
    }
    
}