.footer{
    // background-color: #2f2f2f;
    min-height: 100px;
    position: absolute;
       
    @media screen and (max-width: 576px){
        // visibility: hidden; 
    }
.footer-col{
    padding: 0 2rem;
    margin-top: 2%;
    color: black;
    // padding:22px 0;
    h1,h5 {
       text-align: center;     
         
    }
    .github, .linkedin, .resume{
        font-size: 2rem;
        color: black;
        
    }
}
.footer-icons{
    // display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    span{
        padding: 0 5px;
        color:black;
       
    }
    
}
}

