// section{
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // padding: 50px 0;
//     .content{
//         text-align: center;
//     }
//     h2{
//         font-size: 9.5vw;
//         font-weight: 900;
//         line-height: 13rem;
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         background-image: url('../../assets/imgs/sea.png');
//         background-position: top;
//         background-attachment: fixed;
//     }
//     p{
//         max-width: 800px;
//         margin: 0 auto;
//         padding: 0 20px;
//     }
    
// }
// @media (max-width: 576px) { 
//     section{
//         height: 50vh;
//         // align-items: flex-start;
//         align-items: center;
        
//         h2{
//             font-size: 12vw;
//             line-height:3rem;
//         }
//         p{
//             font-size: .5rem;
//         }
//     }
    
//  }


 .banner{
    //  position: absolute;
     width: 100%;
     height: 100vh;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     video{
         position: absolute;
         top:0;
         left:0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
     h2{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         font-weight: 800;
         background: #fff;
         font-size: 9.5vw;
         text-align: center;
        color:#000;
        line-height: 100vh;
        mix-blend-mode: screen;
     }
     p{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 1vw;
        height: 100%;
        text-align: center;
        text-transform: uppercase;
       color:#000;
       line-height: 125vh;
     }
 }
 @media (max-width: 576px) { 
    .banner{
        height: 50vh;
        
        align-items: center;
        
        h2{
            font-size: 12vw;
            line-height: 70vh;
        }
        p{
            line-height: 80vh;
            font-size: 2vw;
        }
    }
}